body{
    margin: 0;
}

.cyclopedia{
    overflow: hidden;
}

.baidu-knowledge{
    margin-top: 10px;
    margin-left: 10%;
    width: 30%;
    height: 500px;
    padding: 10px;
    border: 1px solid #cbcaca;
    background-color: rgba(203, 202, 202, 0.13);
    float: left;
}

.knowledge{
    margin: 0;
    padding: 20px 10px;
    border: 1px solid #cbcaca;
    list-style-type: none;
    height: 380px;
}

h3 {
    /*text-align: center;*/
    margin: 20px 0;
    font-size: 30px;
}

span{
    float: right;
    padding-right: 8px;
    font-size: 20px;
    color: #494a4a;
    font-family: serif;
    line-height: 35px;
    cursor: pointer;
}

span:hover{
    color: bisque;
}

ul.knowledge li{
    background: url(../IMG/xiaosanjiao.jpg) no-repeat 8px;
    font-size: 15px;
    color: #494a4a;
    padding-left: 30px;
    line-height: 35px;
    cursor: pointer;
}

ul.knowledge li:hover{
    color: #1a87ff;
}

.text-introduction{
    float: right;
    width: 55%;
    height: 500px;
}

.text{
    list-style-type: none;
}